.friendContainer {
  display: flex;
  flex-direction: column;
  background-color: slategrey;
  height: 100%;
}

.friendsListHeading {
  text-align: center;
  margin-top: .5rem;
  font-size: 2rem;
}

.buttonContainer {
  text-align: center;
  margin-bottom: .5rem;
}

.dropFriendsHere {
  margin: .5rem;
  height: 80%;
  width: 90%;
  align-self: center;
  border: solid black 2px;
}

.oneFriend {
  text-align: center;
  font-size: 30px;
}

.addFriendContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.addFriendHead {
  margin: 1rem;
}

.addFriendSelect {
  margin: 1rem;
}

.addFriendAddButton {
  margin: 1rem;
}

.addFriendCloseButton {
  margin: 1rem;
}

.deleteFriendContainer {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.deleteFriendHead {
  margin: 1rem;
}

.deleteFriendSelect {
  margin: 1rem;
}

.deleteFriendAddButton {
  margin: 1rem;
}

.deleteFriendCloseButton {
  margin: 1rem;
}